<nav class="navbar navbar-expand-lg fixed-top navbar-govco flex-column">
  <nav class="navbar navbar-expand-lg flex-1 navbar-govco container">
    <!--Nivel 2 - Sección de navegación -->
    <div class="navbar-container" style="padding-left: 0px;">
      <div class="navbar-logo float-left">
        <a class="navbar-brand" href="http://190.60.233.154/">
          <img src="https://cdn.www.gov.co/assets/images/logo.png" width="auto" height="30" alt="Logo Gov.co">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapsible"
          aria-controls="navbarCollapsible" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse navbar-first-menu float-right">

        <div class="nav-item-primary">
          <div class="form-inline form-search-bar my-2 my-lg-0">
            <input class="form-control mr-sm-2 w-100 pr-2 search-navbar" type="button" value="INICIAR SESIÓN"
              aria-label="CARPETA CIUDADANA" name="searchTerm" id="searchTerm"
              style="background-color: transparent !important; color: white !important;">
          </div>
        </div>
        <div class="nav-item-primary">
          <div class="form-inline form-search-bar my-2 my-lg-0">
            <input class="form-control mr-sm-2 w-100 pr-2 search-navbar" type="button" value="CARPETA CIUDADANA"
              aria-label="CARPETA CIUDADANA" name="searchTerm" id="searchTerm"
              style="background-color: transparent !important; color: white !important;">
          </div>
        </div>
        <div class="nav-item-primary">
          <div class="form-inline form-search-bar my-2 my-lg-0">
            <input class="form-control mr-sm-2 search-navbar" type="search" placeholder="Buscar" aria-label="Search"
              name="searchTerm" id="searchTerm"
              style="background-color: transparent !important; color: white !important;">
            <i class="fas fa-search p-2 bg-light mr-1" style="border-radius: 50%;"></i>
          </div>
        </div>

      </div>
    </div>
  </nav>
</nav>

<div style="height: 82px;"></div>
<!--Nivel 3 - Sección de menú flotante-->
<div class="nav-secondary govco-content navbar navbar-expand-lg navbar-govco flex-column" id="nav-secondary">
  <div class="container">
    <div class="collapse navbar-collapse navbar-first-menu">
      <ul class="navbar-nav ml-auto mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Inicio</a>
        </li>
        <li class="nav-item active" >
          <a class="nav-link" href="#" >Trámites y servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.gov.co/participacion">Tu opinión cuenta </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.gov.co/participacion">Entidades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.gov.co/informacion">Portal territorial</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.gov.co/informacion">Sobre Nosotros</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="navbar navbar-expand-lg navbar-govco  flex-column" style="background-color: #004884;">
  <div class="container">
    <ul class="breadcrumb align-self-start">
      <li><a href="#" style="color: white !important;">Inicio</a></li>
      <li><a href="#" style="color: white !important;">Trámites y Servicios</a></li>
      <li><a href="#" style="color: white !important;">Consulta CIIU</a></li>
    </ul>
  </div>
  <div class="container flex-wrap">
    <h1 style="color: white !important;"> Consulta de trámites por <br>actividad económica - CIIU</h1>
    <h5 style="color: white !important;">Esta consulta le permite identificar los trámites asociados a la actividad<br>
      económica CIIU de su empresa o emprendimiento</h5>
  </div>
</div>
<div class="container">
  <div class="mt-5"></div>
  <p class="mensaje-alerta text-danger py-3 text-center">La información de códigos CIIU está siendo cargada de manera
    gradual por lo que estará disponible inicialmente para los municipios que se vengan incorporando.</p>
  <div class="row">
    <div class="col-3">

      <div class="form-group select-govco">
        <label for="selector-normal">Departamento</label>
        <select id="selector-normal" class="form-control selectpicker" title="Departamento"
          [(ngModel)]="departamentoSeleccionado" (ngModelChange)="getMunicipios()">
          <option disabled>Elija Departamento</option>
          <option [value]="departamento.depCodigo" *ngFor="let departamento of departamentos">{{departamento.depNombre}}
          </option>

        </select>
      </div>
    </div>
    <div class="col-3">
      <div class="form-group select-govco">
        <label for="selector-normal">Municipio</label>
        <select id="selector-normal" class="form-control selectpicker" title="Municipio"
          [(ngModel)]="municipioSeleccionado">
          <option disabled>Elija Municipio</option>
          <option [value]="municipio.munCodigo" *ngFor="let municipio of municipios">{{municipio.munNombre}}
          </option>

        </select>
      </div>
    </div>
    <div class="col-6">
      <label>Buscar actividad económica</label>
      <div class="form-group" style="position:relative;">
        <input type="text" class="form-control input-govco " style="border-radius: 25px !important;">
        <i class="fas fa-search p-2 bg-primary mr-1 icono-buscar" style="border-radius: 50%;"></i>
      </div>
    </div>
  </div>
  <div class="form-group select-govco float-right">
    <label for="selector-normal">Resaultados Pág.</label>
    <select id="selector-normal" class="form-control selectpicker" title="paginacion">
      <option>5</option>
      <option>10</option>
      <option>20</option>
      <option>50</option>
    </select>
  </div>
  <div>
    <table
      class="table display table-responsive-sm table-responsive-md table-bordered table-datos w-100 table-responsive">
      <thead>
        <tr>
          <th colspan="1">Código</th>
          <th colspan="4">Nombre de la actividad</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dataCIIU of dataCIIUs">
          <td>{{dataCIIU.codigo}}</td>
          <td colspan="2" class="position-relative w-100">
            <span class="position-absolute "
              style="overflow: hidden; white-space: nowrap;display: block; max-width: 85%;">{{dataCIIU.actividad}}
            </span>
          </td>
          <td> <a [routerLink]="null" style="white-space:pre">VER NOTA</a> </td>
          <td><a [routerLink]="null" style="white-space:pre">VER TRÁMITES</a></td>

        </tr>


      </tbody>
    </table>
    <!-- paginación -->
    <ul class="pagination justify-content-center">
      <li class="page-item disabled"><a class="page-link" href="#">Anterior</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item disabled"><a class="page-link" href="#">Siguiente</a></li>
    </ul>
  </div>
</div>




<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <h5 class="text-white font-weight-bolder mb-5">
          Servicios
        </h5>
        <div class="my-3">
          <a href="" class="text-white" >Trámites y servicios</a>
        </div>
        <div class="my-3">
          <a href="" class="text-white">Entidades</a>
        </div>
        <div class="my-3">
          <a href="" class="text-white">Sobre nosotros</a>
        </div>
        <div class="my-3">

          <a href="" class="text-white">Urna de cristal</a>
        </div>
        <div class="my-3">
          <a href="" class="text-white">Portal territorial</a>
        </div>
        <div class="my-3">
          <a href="" class="text-white">Datos abiertos</a>
        </div>


        <!-- <div id="icons-govco-3"><img width="0" tabindex="0" height="0"
            src="https://www.gov.co/uploads/53cb9900-1f6d-4d95-81a1-02e02efbe3be.svg" role="link"
            class="img-fluid footer-icon-govco-3" alt="Logo Gobierno de Colombia"><img width="0" tabindex="0" height="0"
            src="https://www.gov.co/uploads/23c08fdb-7970-420c-a556-c3af1802ef58.svg" role="link"
            class="img-fluid footer-icon-co-3" alt="Logo Marca País Colombia"></div> -->
      </div>
      <div class="col-sm-6 col-md-3 px-4 footer-separador-3">
        <h5 class="text-white font-weight-bolder mb-5">
          Contacto
        </h5>
        <div class="my-3">
          <a href="" class="text-white">Nacional: 018000 95 2525</a>
        </div>
        <div class="my-3">
          <a href="" class="text-white">bogotá: +57 (1) 390 7950 </a>
        </div>
        <div class="my-3">
          <a href="" class="text-white">Línea antocorrupción 01 8000 91 2667</a>
        </div>
        <div class="my-3">

          <a href="" class="text-white">Edificion Murillo Toro Cra. 8a. Entre Calles 12A y 12B, Bogotá, Colombia -
            Código postal 111711 </a>
        </div>


      </div>
      <div class="col-sm-6 col-md-3 px-4">
        <h5 class="text-white font-weight-bolder mb-5">
          &nbsp;
        </h5>
        <div class="my-3">
          <i class="fas fa-phone-volume p-2 bg-light mr-1" style="border-radius: 50%;"></i>
          <a href="" class="text-white">Llamada web</a>
        </div>
        <div class="my-3">
          <i class="fas fa-phone p-2 bg-light mr-1" style="border-radius: 50%;"></i>
          <a href="" class="text-white">Solicita una llamada </a>
        </div>
        <div class="my-3">
          <i class="fas fa-comment p-2 bg-light mr-1" style="border-radius: 50%;"></i>
          <a href="" class="text-white">Hablemos en linea</a>
        </div>
        <div class="my-3">
          <i class="fas fa-envelope p-2 bg-light mr-1" style="border-radius: 50%;"></i>
          <a href="" class="text-white"> soporteccc@mintic.gov.co</a>
        </div>

      </div>
      <div class="col-sm-6 col-md-3">

        <h5 class="text-white font-weight-bolder mb-5">
          &nbsp;
        </h5>
        <div class="my-3">
          <i class="fab fa-facebook p-2 bg-light mr-1" style="border-radius: 50%;"></i>
          <a href="" class="text-white">Siguenos en Facebook</a>
        </div>
        <div class="my-3">
          <i class="fab fa-twitter p-2 bg-light mr-1" style="border-radius: 50%;"></i>
          <a href="" class="text-white">Siguenos en Twitter </a>
        </div>
      </div>
    </div>
    <hr class="linea">
    <div class="row">
      <div class="col-2">
        <a href="" class="text-white mx-3 ">Términos y condiciones</a>
      </div>
      <div class="col-2">
        <a href="" class="text-white mx-3">Mapa del sitio</a>
      </div>
      <div class="col-2">
        <a href="" class="text-white mx-3">Política de privacidad y tratamiento de datos</a>
      </div>
      <div class="col-2">
        <a href="" class="text-white mx-3">Política de derechos de autor</a>
      </div>

      <div class="flex flex-row justify-content-between col-4">
        <img width="50" tabindex="0" height="50"
          src="https://www.gov.co/uploads/23c08fdb-7970-420c-a556-c3af1802ef58.svg" role="link"
          class="img-fluid footer-icon-co-3  mx-3" alt="Logo Marca País Colombia">
        <img src="https://cdn.www.gov.co/assets/images/logo.svg" height="30" width="140">
      </div>
    </div>
  </div>

</footer>