/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.linea{
    border-top: 1px solid rgba(255, 255, 255, 1);
    
}